@charset "UTF-8";
@import 'reset.css';
@import 'common.css';


/* 모바일 제이쿼리 css 리셋 */

/* input */
input::placeholder,
textarea::placeholder,
input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder,
input:-ms-input-placeholder,
textarea:-ms-input-placeholder{color: #898989;}

.inputBox + .inputBox{margin-top:7.69vw;}
.inputBox .tit{font-weight:700;}
.inputBox .tit span.star{color:#f41300;}
.inputBox .tit{font-weight:700;}
.inputBox .tit + .txt{margin-top:1.28vw;font-size:3.58vw;color:#898989;}
.inputBox .ui-input-text{margin-top:2.56vw;position:relative;box-shadow:none;border-radius:0.76vw;border:1px solid #ddd;height:12.3vw;line-height:12.3vw;padding-left:5.12vw;box-sizing:border-box;}
.inputBox .ui-input-text.ui-focus{border-color:#111;}
.inputBox .ui-input-has-clear{padding-right:12.82vw;}
.inputBox input{height:100%;line-height:100%;padding:0;font-size:3.84vw;color:#111;border:none;width:100%;outline:none;vertical-align:top;}
.inputBox .ui-input-has-clear a{position:absolute;top:50%;right:5.12vw;margin:0;margin-top:-2.56vw;width:5.12vw;height:5.12vw;text-indent:-99999px;}
.inputBox .ui-input-has-clear a.ui-input-clear-hidden{display:none;}
.inputBox .ui-input-has-clear a:after{content: "";position: absolute;top:0;right:0;display: block;width:5.12vw;height:5.12vw;background-position: center center;background-repeat: no-repeat;background-image:url('../images/ic_input_del.svg');background-size:cover;}
.inputBox .ui-state-disabled{opacity:1;background:#f4f4f4;}
.inputBox .ui-state-disabled input{color:#898989;}
.inputBox .selBox{display:flex;flex-wrap:wrap;flex-flow:row;margin-top:2.56vw;position:relative;box-shadow:none;border-radius:0.76vw;border:1px solid #ddd;height:12.3vw;line-height:12.3vw;padding-left:5.12vw;box-sizing:border-box;}
.inputBox .selBox .ui-select{position:relative;min-width:17.94vw;height:calc(12.3vw - 2px);line-height:calc(12.3vw - 2px);padding-right:3.8vw;}
.inputBox .selBox .ui-select:before{content:'';position:absolute;width:3.07vw;height:2.05vw;right:0;top:50%;margin-top:-1.025vw;background-image:url('../images/ic_arrow_d.svg');background-repeat:no-repeat;background-position:0 0;background-size:cover;}
.inputBox .selBox select{position:absolute;left:0;top:0;opacity:0;height:12.3vw;}
.inputBox .selBox .ui-input-text{margin-top:0;border:none;height:calc(12.3vw - 2px);line-height:calc(12.3vw - 2px);}
.inputBox .selBox.tel .ui-input-text{padding-left:0;text-align:center;}
.inputBox .selBox.tel .ui-input-text input{text-align:center;}
.inputBox textarea{width:100%;height:71.79vw !important;line-height:1.4 !important;padding:5.12vw;}




/* 버튼 및 아이콘 */
.btnBox{display:flex;flex-wrap;}
.btnBox.btn2 > div{width:50%;}
.btnBox.btn2 > div + div{margin-left:2.56vw;}

.btn,
.btn a:before{background-repeat:no-repeat;background-position:0 0;background-size:cover;}
.btn a{display:block;width:100%;height:100%;position:relative;}
.btn a span.hide{display:block;text-indent:-99999px;width:100%;height:100%;}
.btn.rd{border-radius:7.69vw;text-align:center;line-height:12.3vw;height:12.3vw;font-size:4.1vw;font-weight:500;}

/* 버튼 */
.btn.gray{border:1px solid #e8e8e8;}
.btn.gradation1 a{text-align:center;font-weight:500;color:#fff;}
.btn.fixed a{font-size:4.6vw;padding-top:3.8vw;padding-bottom:10vw;}

.btn.home{width:5.64vw;height:5.64vw;background-image:url('../images/ic_home.svg');} /* 홈버튼 */
.btn.search{width:5.64vw;height:5.64vw;background-image:url('../images/ic_search_bl.svg');} /* 검색버튼 */
.btn.alarm{width:5.64vw;height:5.64vw;background-image:url('../images/ic_alarm.svg');position:relative;} /* 알림버튼 */
.btn.alarm .count{position:absolute;top:-2.3vw;right:-3vw;font-size:3vw;color:#fff;padding:0 1.28vw;height:4.6vw;line-height:4.6vw;border-radius:7.69vw;background:#f40000;}
.btn.popClose{width:6.15vw;height:6.15vw;background-image:url('../images/ic_close.svg');} /* 팝업닫기 */
.btn.wish{width:5.12vw;height:5.12vw;background-image:url('../images/ic_wish_off.svg');} /* 찜하기 */
.btn.wish.on{width:5.12vw;height:5.12vw;background-image:url('../images/ic_wish_on.svg');} /* 찜하기 */
.btn.cart{width:5.12vw;height:5.12vw;background-image:url('../images/ic_cart.svg');} /* 카트담기 */
.btn.listTy{width:5.12vw;height:5.12vw;background-image:url('../images/ic_list_type1.svg');} /* 리스트타입 기본 */
.btn.listTy.ty2{width:5.12vw;height:5.12vw;background-image:url('../images/ic_list_type2.svg');} /* 리스트타입2 */

/* 필터 */
.btn.filter a{padding-right:7.17vw;font-size:3.58vw;line-height:1.43;}
.btn.filter a:before{content:'';position:absolute;right:0;top:0;width:5.12vw;height:5.12vw;background-image:url('../images/ic_filter.svg');}

/* 초기화 버튼 */
.btn.reset a{padding-left:7.17vw;}
.btn.reset a:before{content:'';position:absolute;left:0;top:0;width:5.12vw;height:5.12vw;background-image:url('../images/ic_reset.svg');}
.btn.reset a.spin:before{-webkit-animation-name: spin;-moz-animation-name: spin;-ms-animation-name: spin;animation-name: spin;-webkit-animation-duration: 1s;-moz-animation-duration: 1s;-ms-animation-duration: 1s;animation-duration: 1s;-webkit-animation-iteration-count: 1;-moz-animation-iteration-count: 1;-ms-animation-iteration-count: 1;animation-iteration-count: 1;-webkit-animation-timing-function: linear;-moz-animation-timing-function: linear;-ms-animation-timing-function: linear;animation-timing-function: linear;}
@-ms-keyframes spin { 
	from {-ms-transform: rotate(0deg);} 
	to {-ms-transform: rotate(360deg);}
}
@-moz-keyframes spin { 
	from {-moz-transform: rotate(0deg);}
	to {-moz-transform: rotate(360deg);}
}
@-webkit-keyframes spin { 
	from {-webkit-transform: rotate(0deg);}
	to {-webkit-transform: rotate(360deg);}
}
@keyframes spin { 
	from {transform: rotate(0deg);}
	to {transform: rotate(360deg);}
}

/* 그라데이션 */
.gradation1{background-image: linear-gradient(to right, #ff7112, #f41300);}

/* 슬라이드 업, 다운 */
.slideCon{width:100%;}
.slideCon .top{border-bottom:1px solid #eee;display:flex;flex-wrap:wrap;}
.slideCon .top a{width:100%;padding:5.12vw 6.4vw 5.12vw 5.12vw;flex:auto;font-weight:500;}
.slideCon .top a p{position:relative;}
.slideCon .top a p:before{content:'';position:absolute;width:3.07vw;height:2.05vw;right:0;top:50%;margin-top:-1.025vw;background-image:url('../images/ic_arrow_d.svg');background-repeat:no-repeat;background-position:0 0;background-size:cover;-webkit-transition: all 0.3s ease-in-out;-o-transition: all 0.3s ease-in-out;transition: all 0.3s ease-in-out;}
.slideCon.on .top a p:before{-webkit-transform:rotate(-180deg);-ms-transform:rotate(-180deg);transform:rotate(-180deg);}
.slideCon .bottom{display:none;border-bottom:1px solid #eee;}
.slideCon .top > p{padding:5.12vw 3.84vw 5.12vw 5.12vw;position:relative;color:#898989;}
.slideCon .top > p:before{content:'';position:absolute;right:0;top:5.12vw;width:1px;height:calc(100% - 10.24vw);background-color:#ddd;}
.slideCon .top > p + a{width:auto;padding:5.12vw 6.4vw 5.12vw 3.84vw;}

/* 체크박스 및 라디오박스 */
input[type="checkbox"],
input[type="radio"] {border: 0;clip: rect(0 0 0 0);height: 1px;  margin: -1px;overflow: hidden;padding: 0;position: absolute;width: 1px;}
input[type="checkbox"] + label:before, 
input[type="radio"] + label:before{box-sizing: content-box;position: absolute;content: '';display: block;left: 0;}
input[type="checkbox"].checkTy1 + label,
input[type="radio"].radioTy1 + label{position: relative;padding-left:7.17vw;}
input[type="checkbox"].checkTy1 + label:before{top:0;width: 5.12vw;height: 5.12vw;text-align: center;background-image:url('../images/ic_check1_off.svg');background-repeat:no-repeat;background-position:0 0;background-size:cover;}
input[type="radio"].radioTy1 + label:before {top:0;width: 5.12vw;height: 5.12vw;text-align: center;background-image:url('../images/ic_radio1_off.svg');background-repeat:no-repeat;background-position:0 0;background-size:cover;}
input[type="checkbox"].checkTy1:checked + label:before {background-image:url('../images/ic_check1_on.svg');}
input[type="radio"].radioTy1:checked + label:before {background-image:url('../images/ic_radio1_on.svg');}
input[type="radio"].radioTy2 + label{position: relative;padding-left:6.4vw;}
input[type="radio"].radioTy2 + label:before {top:0;width: 5.12vw;height: 5.12vw;text-align: center;background-image:url('../images/ic_radio2_off.svg');background-repeat:no-repeat;background-position:0 0;background-size:cover;}
input[type="radio"].radioTy2:checked + label:before {background-image:url('../images/ic_radio2_on.svg');}

/* 팝업 */
.dimmed{}
.layerBtPop{}




/* 텍스트 */

/* 테이블 */

/****************** 메인 ******************/


/****************** 카테고리 ******************/
/* 상품코드로 주문하기 */

/****************** 장바구니 ******************/


/****************** 주문/결제 ******************/


/****************** 마이페이지 ******************/


/****************** My카탈로그 ******************/


/****************** 고객센터 ******************/


/****************** 회원가입 ******************/


/****************** 로그인 ******************/